#!/usr/bin/env python3
"""{{ project_name }} - {{ description }}."""


def main() -> None:
    """Main entry point."""
    print("Hello from {{ project_name }}!")


if __name__ == "__main__":
    main()
